@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html" ; charset="utf-8" />
    <title> AnhQuocCV </title>

    <link rel="stylesheet" href="/Content/AnhQuoc.css">



</head>

<body>
    <div id="page-wrap">
        <!-- Centering a Website -->

        <img src="/Content/aq.jpg" alt="My Picture" id="pic" height="293" width="303">

        <div id="Thông tin liên lạc" class="vcard">
            <!-- info (microformats) -->
            <h1 class="name"> Nguyễn Đình Anh Quốc </h1>
            <p>
                Phone : <span class="telnumber"> 0765754399 </span> <br />
                FaceBook : <span class="fb"> <a href="https://www.facebook.com/anhquoc.nguyen.9469"> www.facebook.com/anhquoc.nguyen.9469 </a></span>
            </p>
        </div>

        <div id="Mục-tiêu">
            <p>
                Tôi là một thiếu niên tràn đầy năng lượng và nhiệt huyết của tuổi trẻ, luôn luôn tìm kiếm 1 nghề phù hợp với khả năng chuyên môn của tôi.
                Tôi có thể mang lại lợi nhuận tới công ty của bạn. ^.^!!
            </p>

        </div>

        <div class="clear"></div>

        <dl>
            <dd class="clear"></dd>

            <dt>Education</dt>
            <dd>
                <h2>Văn Lang University</h2>
                <p>
                    <strong>Major:</strong> Software Engineering
                </p>
            </dd>

            <dd class="clear"></dd>


            <dt>Skills</dt>
            <dd>
                <h2>Databases</h2>
                <p>MySQL</p>

                <h2>Programming</h2>
                <p>JS, Java, Python, HTML/HTMl 5, C#</p>

                <h2> Operating Systems </h2>
                <p> Linux operating system (Debian, Ubuntu, CentOS/RedHat), Microsoft Windows Server, Microsoft </p>
            </dd>


            <dd class="clear"></dd>


            <dt>Experience</dt>
            <dd>
                <h2> Make Cv by html <span> VAN LANG University In HCMC </span> </h2>
                <ul>
                    <li> Tìm hiểu HTML và CSS </li>
                    <!-- <li>  </li> -->
                </ul>
                <h2> Socket by C# <span>  VAN LANG University In HCMC </span> </h2>
                <ul>
                    <li> Làm việc với C#, Client , Server </li>
                    <!-- <li> </li> -->
                </ul>
            </dd>


            <dd class="clear"></dd>

            <dt>Hobbies</dt>
            <dd>
                <p> Đọc Sách, Shopping, Nghe Nhạc, Chơi Game, Xem phim </p>
            </dd>

            <dd class="clear"></dd>

        </dl>

        <div class="clear"></div>

    </div>


</body>

</html>
